@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
   font-family: 'Montserrat', 'sans-serif';
    margin:0;
    padding:0;
}

.navbar-container {
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar {
    background-color: white;
    overflow-y: hidden;
    text-decoration: none;
    padding-top: 1%;
    padding-bottom: 1%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid;
}
    
a {
    color: black;
    text-decoration: none;
}

.item, .itemactive {
    
    margin-left: 7%;
    
}

.itemconnexion, .itemconnexion2 {
    float: right;
    margin-right: 6%;
}

.itemactive {
    font-weight: bold;
}

.item, .itemconnexion {    
    border-bottom: 0.5px solid transparent; 
    font-weight: normal; 
}

.item:hover, .itemconnexion:hover, .itemactive:hover {
    transition: border-bottom 1s, font-weight 0s; 
    font-weight: bold; 
    border-bottom: 0.5px solid; 
}

.itemactive {
    transition: border-bottom 1s, font-weight 0s; 
    font-weight: bold; 
    border-bottom: 0.5px solid; 

}


/* BOUTON LIGHT DARK */ 

:root{
  --bs-dark: #212529;
}

.theme-container {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.theme-container:hover {
  position: fixed;
  opacity: 0.8;
}

.shadow-dark {
  background: linear-gradient(145deg, #23282c, #1e2125);
  box-shadow: 10px 10px 10px #1a1d20,
    -5px -5px 5px #282d32, inset 5px 5px 4px #1e2226,
    inset -5px -5px 4px #24282c;
}

.shadow-light {
  box-shadow: 7px 7px 15px -10px #bbcfda, -4px -4px 13px #ffffff,
    inset 7px 7px 3px rgba(209, 217, 230, 0.35),
    inset -11px -11px 3px rgba(255, 255, 255, 0.3)
}

@keyframes change {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.3);
  }
}

.change {
  animation-name: change;
  animation-duration: 1s;
  animation-direction: alternate;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5%;
    padding-top: 50px;
    padding-bottom: 100px;
}

.image-slideshow img{
    width: 556px;
    height: 549px;
    top: 147px;
    left: 110px;
}

.images{
    position: absolute;
    display: none;
    animation-name: pictureAnimation;
    animation-duration: 1.5s;
}

.image1{
    display: block;
    width: 556px;
    height: 549px;
    top: 147px;
    left: 190px;
}

.navigationButtons .previous{
    position: absolute;
    z-index: 10;
    font-size: 20px;
    top: 55%;
    left: 200px;
    font-weight: 700;
    color: white;
}

.navigationButtons .next{
    position: absolute;
    z-index: 10;
    top: 55%;
    right: 801px;
    font-size: 20px;
    color: white;
}

.navigationButtons .btn{
    background-color: black;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.navigationButtons .btn:hover{
    background-color: rgba(128, 128, 128, 1);
    color: white;
    transition: 0.15s ease-in;
}

@keyframes pictureAnimation {
    from {opacity: .5} 
    to {opacity: 1}
}

.product_information{
    padding-right: 5%;
    margin-top: -15px;
}

.product_information h1{
    width: 519px;
    height: 48px;
    top: 148px;
    left: 762px;

}

.product_information h2{
    width: 519px;
    height: 36px;
    top: 196px;
    left: 762px;

}

.product_information p{
    width: 357px;
    height: 96px;
    top: 247px;
    left: 762px;
}

.input{
    display: flex;
    flex-direction: row;
}

.counter{
    width: 167px;
    height: 50px;
    top: 358px;
    left: 762px;
    margin-right: 20px;
    display: flex;
    justify-content: left;
    margin-top: 15%;
    border: 1px solid black;
}

.counter span{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}


.counter span.minus:hover{
    transition: 0.25s ease-in;
    background-color: rgba(128, 128, 128, 1);
    color: white;
}

.counter span.plus:hover{
    transition: 0.25s ease-in;
    background-color: rgba(128, 128, 128, 1);
    color: white;
}


.counter span.num{
    display: flex;
    justify-content: center;
    pointer-events: none;
}

.dropdown{
    width: 167px;
    height: 50px;
    margin-top: 15%;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    border: 1px solid black;
}

.dropdown select{
    display: none;
}

.select-selected{
    color: black;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 20px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: black transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent black;
    top: 15px;
}

.select-items div,.select-selected {
    background-color: white;
    padding: 15px 16px;
    cursor: pointer;
    
}


.select-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border: 1px solid;
    color: black;
}

.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(128, 128, 128, 1)
}

.info_model{
    width: 350px;
    height: 20px;
    top: 424px;
    left: 762px;
    opacity: 50%;
    margin-top: 15px;
}

.buyButtons{
    display: flex;
    flex-direction: row;
    margin-left: -2px;
    margin-top: -30px;
}

.button{
    background-color: black;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: black 2px 2px 2px 0px;
}

#addNow{
    background-color: #2F80ED;
    margin-left: 10px;
}

#addButton:hover{
    background-color: black;
    box-shadow: white 2px 2px 2px 0px;
    transition: 0.25s ease-out;
}

#addNow:hover{
    background-color: #0a4491;
    box-shadow: white 2px 2px 2px 0px;
    transition: 0.25s ease-out;
}

hr{
    margin-top: 20px;
}

.footer {
    bottom: 0;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1.2fr)); /*prendre plus de place possible*/
    gap: 0px; /*espace entre colonne*/
    justify-items: center;
    max-width: 1000px;
    margin: 0 auto 30px auto;
}

.leftfooter {
    margin-right: 150px;

}

.leftfooter>h6 {
    padding-top: 15px;
    padding-bottom: 20px;
}

.leftfooter>input {
    width: 300px;
    height: 40px;
    margin-bottom: 2%;

}

.leftfooter > input {
    margin-bottom: 25px;
}

.leftfooter > a {
    max-width: 80px;
    letter-spacing: 2px;
    box-shadow: black 2px 2px 2px 0px;
    padding: 1%;
    border-style: solid;
    border-width: 1px;
    transition: 0.25s ease-in;
}

.leftfooter > a:hover {
    color: white;
    background-color: hsl(0, 0%, 0%);
    box-shadow: white 2px 2px 2px 0px;
    transition: 0.25s ease-in;
}

.footercol * {
    display: block;
    width: max-content;
    margin-left: 150px;
}

.footercol h4 {
    margin-bottom: 25px;
   
}

.footercol a {
    color: gray;
    padding: 5px 0;
    transition: 0.1s ease-in;
}

.footercol a:hover {
    transition: 0.1s ease-in;
    color: blue;
}

/* DARK MODE OPTIONS */

.dark-mode .leftfooter > a:hover {
    color: white;
    background-color: black;
    box-shadow: rgb(0, 0, 0) 2px 2px 2px 0px;
    transition: 0.25s ease-in;
}

/* NAVBAR DARK --> */

:root{
  --bs-dark: #212529;
}

.theme-container {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.theme-container:hover {
  position: fixed;
  opacity: 0.8;
}

.shadow-dark {
  background: linear-gradient(145deg, #23282c, #1e2125);
  box-shadow: 10px 10px 10px #1a1d20,
    -5px -5px 5px #282d32, inset 5px 5px 4px #1e2226,
    inset -5px -5px 4px #24282c;
}

.shadow-light {
  box-shadow: 7px 7px 15px -10px #bbcfda, -4px -4px 13px #ffffff,
    inset 7px 7px 3px rgba(209, 217, 230, 0.35),
    inset -11px -11px 3px rgba(255, 255, 255, 0.3)
}

@keyframes change {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.3);
  }
}

.change {
  animation-name: change;
  animation-duration: 1s;
  animation-direction: alternate;
}

.navbar {
    color: white;
    background-color: black;
}

.navbar > a {
    color: white;
} 

/* DARK MODE */ 

.dark-mode {
    
    h1, h2, h4, h6, p{
        color: white;
    }

    .counter{
        border: 1px solid white;
    }

    .counter > span{
        color: white;
    }

    .counter span.minus:hover{
        color: black;
    }

    .counter span.plus:hover{
        color: black;
    }

    .dropdown{
        border: 1px solid white;
    }

    .select-selected{
        color: white;
    }

    .select-selected:after {
        border-color: white transparent transparent transparent;
    }

    .select-selected.select-arrow-active:after {
        border-color: transparent transparent white ;
    }

    .select-items{
        color: white;
    }

    .select-items div,.select-selected {
        background-color: black;
    }

    .select-items div:hover, .same-as-selected {
        background-color: rgba(128, 128, 128, 1)
    }

    .button{
        box-shadow: white 2px 2px 2px 0px;
        color: black;
    }

    .buyButtons > #addButton{
        background-color: rgb(125, 122, 122);
    }

    #addNow{
        background-color: #2F80ED;
    }

    #addButton:hover{
        background-color: rgb(97, 96, 96);
        color: white;
        box-shadow: black 2px 2px 2px 0px;
        transition: 0.25s ease-out;
    }

    #addNow:hover{
        background-color: #0a4491;
        color: white;
        box-shadow: black 2px 2px 2px 0px;
        transition: 0.25s ease-out;
    }

    .leftfooter > a{
        background-color: white;
        box-shadow: rgb(255, 255, 255) 2px 2px 2px 0px;
    }
}

/* MEDIA QUERY */

@media(max-width: 768px) {
    .container{
        display: flex;
        flex-direction: column;
    }

    .navigationButtons .previous{
        top: 28%;
        left: 9%;
        font-size: 30px;
    }
    
    .navigationButtons .next{
        top: 28%;
        left: 77%;
        font-size: 30px;
    }

    .navigationButtons .btn{
        width: 40px;
        height: 40px;
    }

    .image-slideshow .images{
        top: 100px;
        left: 31px;
    }

    .images img{
        width: 325px;
        height: 291px;
    }

    .info_product{
        display: flex;
        flex-direction: column;
        margin-top: 100%;
        margin-left: 3%;
    }

    .info_product > h1{
        width: 325px;
        height: 50px;
    }

    .info{
        display: flex;
        flex-direction: column-reverse;
    }

    .info > h2{
        margin-top: 30px;
    }

    .input{
        margin-top: -40px;
        margin-left: 3%;
    }

    .info_model{
        margin-left: 3%;
    }

    .buyButtons{
        display: flex;
        flex-direction: row-reverse;
        margin-left: 3%;
    }

    .button{
        text-align: center;
        padding: 10px;
        font-size: 16px;
    }

    #addNow{
        width: 104px;
        margin-left: -1.5px;
        margin-right: 10px ;
    }

    #addButton{
        width: 198px;
        padding-top: 20px;
    }
}

